/* Default Background */
body {
  background-color: #000000;
}

/* Home Page CSS */
#homepage {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
}
#consume {
  width: 100vw;
  height: 95vh;
  background: url("https://media3.giphy.com/media/2dnGHOAQt1tIziib5X/giphy.webp?cid=790b761176c7a548374dfaa00567c706f46dfe2b8ee32cbe&rid=giphy.webp")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
}

#lightningLeft {
  margin-top: 1%;
  margin-left: -19%;
  position: absolute;
}
#lightningRight {
  margin-top: 1%;
  margin-left: 18%;
  position: absolute;
  transform: scaleX(-1);
}

#logo {
  margin-top: 18%;
  width: 45%;
  height: 33%;
  margin-left: 25%;
  margin-right: 25%;
}
#pulse {
  position: absolute;
  justify-content: end;
  margin-top: 15%;
  width: 38%;
}
#toBattleButton {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin-left: 33.33%;
  margin-right: 33.33%;
}

/* Battle Screen CSS */

#characterSelectScreen {
  margin-top: 1%;
  z-index: 0;
}

#battleLogo {
  z-index: -11;
  margin-left: 24%;
  margin-top: -2%;
  position: absolute;
}
#pulseBattle {
  z-index: -10;
  position: absolute;
  margin-left: 22%;
  width: 45%;
  margin-top: -16%;
}
#separator {
  z-index: -12;
  position: absolute;
  transform: rotate(90deg);
  margin-left: 15%;
  margin-top: -1%;
  height: 90%;
}

#back-button {
  margin-top: 1%;
  margin-left: 3.5%;
}

#firstChoice {
  z-index: 90;
  margin-left: 22%;
  width: 60%;
}
#statsOne {
  z-index: 91;
  margin-left: 28%;
  margin-top: 3%;
  font-size: x-large;
}

#secondChoice {
  z-index: 90;
  margin-left: 22%;
  width: 60%;
}
#statsTwo {
  z-index: 91;
  margin-left: 28%;
  margin-top: 3%;
  font-size: x-large;
}
#battleButton {
  z-index: 90;
  margin-left: 22%;
  width: 60%;
}

/* Battle Area CSS */

#battleArea {
  height: 110vh;
  width: 100vw;
  position: absolute;
  background-color: black;
  z-index: 101;
  margin-top: -51%;
  background: url("https://media3.giphy.com/media/2dnGHOAQt1tIziib5X/giphy.webp?cid=790b761176c7a548374dfaa00567c706f46dfe2b8ee32cbe&rid=giphy.webp")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000000;
}
.flip {
  transform: scaleX(-1);
}

#playerOne,
#playerTwo {
  width: 90%;
  height: 175%;
  margin-top: 8%;
}
#caseTwo {
  position: absolute;
  margin-left: 64%;
  margin-top: 17%;
  margin-bottom: 5%;
}
#caseOne {
  position: absolute;
  margin-top: 17%;
  margin-left: 14%;
  margin-bottom: 5%;
}

#attackTwo {
  position: absolute;
  margin-top: 160%;
  margin-left: -86%;
}
#defendTwo {
  position: absolute;
  margin-top: 160%;
  margin-left: -57.25%;
}
#strAttackTwo {
  position: absolute;
  margin-top: 175%;
  margin-left: -65%;
}
#counterTwo {
  position: absolute;
  margin-top: 160%;
  margin-left: -28%;
}

#attackOne {
  position: absolute;
  margin-top: 160%;
  margin-left: -86%;
}
#defendOne {
  position: absolute;
  margin-top: 160%;
  margin-left: -57.25%;
}
#strAttackOne {
  position: absolute;
  margin-top: 175%;
  margin-left: -65%;
}
#counterOne {
  position: absolute;
  margin-top: 160%;
  margin-left: -28%;
}
#healthOne {
  background-color: greenyellow;
  position: absolute;
  width: 70%;
  margin-left: 12%;
}
#healthTwo {
  background-color: greenyellow;
  position: absolute;
  width: 70%;
  margin-left: 12%;
}
#battleLog {
  position: absolute;
  margin-left: 38%;
  margin-top: 2%;
  color: #ffffff;
  overflow-y: auto;
  height: 40%;
  width: 25%;
  text-align: center;
}

#battleContainer {
  z-index: -12;
}
.carousel-item {
  height: 100%;
  width: 100%;
}
#game-end {
  margin-left: 37%;
  z-index: 10;
  position: absolute;
  margin-top: 25%;
}

#rematch {
  position: absolute;
  margin-right: 50%;
  margin-top: 80%;
  width: 100%;
}
#reselect {
  position: absolute;
  margin-right: 50%;
  margin-top: 60%;
  width: 100%;
}

/* Player One Animations  */
#animateAttackOne {
  /* perfect */
  position: absolute;
  margin-top: 7%;
  margin-left: 6%;
  z-index: 9001;
}
#animateCounterOne {
  /* perfect */
  position: absolute;
  margin-top: 12%;
  margin-left: 12.5%;
  z-index: 9002;
}
#animateDefendOne {
  /* perfect */
  position: absolute;
  margin-top: 13%;
  height: 45%;
  margin-left: 10%;
  z-index: 9003;
}
#animateStrongOne {
  /* perfect */
  position: absolute;
  margin-top: 11%;
  margin-left: 5%;
  z-index: 9004;
}
#animateStrongCounterOne {
  /* perfect */
  position: absolute;
  margin-top: 8%;
  margin-left: 5%;
  z-index: 9005;
}

/* Player Two Animations  */
#animateAttackTwo {
  /* perfect */
  position: absolute;
  margin-top: 7%;
  margin-left: 59%;
  z-index: 9006;
}
#animateCounterTwo {
  /* perfect */
  position: absolute;
  margin-top: 12%;
  margin-left: 65%;
  z-index: 9007;
}
#animateDefendTwo {
  /* perfect */
  position: absolute;
  margin-top: 13%;
  height: 45%;
  margin-left: 63%;
  z-index: 9008;
}
#animateStrongTwo {
  position: absolute;
  margin-top: 11%;
  margin-left: 58%;
  z-index: 9009;
}
#animateStrongCounterTwo {
  /* perfect */
  position: absolute;
  margin-top: 8%;
  margin-left: 57%;
  z-index: 9010;
}
