/* Default Background */
body {
  background-color: #000000;
}

#curtain {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#curtain-text {
  font-size: x-large;
  color: #ffffff;
  font-weight: 5000;
  text-align: center;
}
/* Home Page CSS */
#homepage {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
}
#snazzy-background {
  width: 100%;
  height: 100vh;
  background: url("../images/sphere.webp") no-repeat center fixed;
  background-size: cover;
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 9s;
  -moz-animation: fadeIn ease 9s;
  -o-animation: fadeIn ease 9s;
  -ms-animation: fadeIn ease 9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#lightningLeft {
  margin-left: -14%;
  position: absolute;
  width: auto;
  height: 33%;
}
#lightningRight {
  margin-left: 12%;
  position: absolute;
  height: 33%;
  width: auto;

  transform: scaleX(-1);
}

#logo {
  margin-top: 15%;
  width: 45%;
  height: 33%;
  margin-left: 24%;
  margin-right: 24%;
}
#pulse {
  position: absolute;
  justify-content: end;
  margin-top: 14%;
  width: 45%;
}
#toBattleButton {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin-left: 33.33%;
  margin-right: 33.33%;
}

/* Character Select Screen CSS */

#battlepage {
  width: 100vw;
  height: 100vh;
}

#characterSelectScreen {
  margin-top: 1%;
  z-index: 0;
  display: flex;
  flex-direction: row;
}

#logos-battle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#battleLogo {
  z-index: -11;
  width: 33%;
  height: 23%;
  justify-content: center;
}
#pulseBattle {
  z-index: 500;
  position: absolute;
  width: 45%;
  margin-top: -16%;
  justify-content: center;
}

#back-button {
  margin-top: 1%;
  margin-left: 3.5%;
}

#firstChoice,
#secondChoice {
  margin-top: 1%;
  margin-left: 27%;
  width: 45%;
  flex-direction: column;
}
#statsOne,
#statsTwo {
  margin-left: 39%;
  margin-top: 3%;
  font-size: large;
}

#battle-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
#battleButton {
  z-index: 90;
  width: 45%;
}

/* Battle Area CSS */

#battleArea {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 101;
  margin-top: -53%;
  background: url("../images/sphere.webp") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.flip {
  transform: scaleX(-1);
}

#caseTwo {
  margin-top: 9%;
  margin-left: 30%;
}
#caseOne {
  margin-top: 9%;
  margin-left: 15%;
}

#playerOne,
#playerTwo {
  width: 295px;
  height: 475px;
  margin-top: 3vh;
}

/* Player One Buttons  */
#playerOneButtons {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

/* Player Two Buttons */
#playerTwoButtons {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

#healthOne {
  background-color: greenyellow;
  width: 100%;
}
#healthTwo {
  background-color: greenyellow;
  width: 100%;
}
#battleLog {
  position: absolute;
  margin-left: 38%;
  margin-top: 2%;
  color: #ffffff;
  overflow-y: auto;
  height: 40%;
  width: 25%;
  text-align: center;
}

#battleContainer {
  z-index: -12;
}
.carousel-item {
  height: 50%;
  width: 50%;
}
#game-end {
  margin-left: 37%;
  z-index: 10;
  position: absolute;
  margin-top: 25%;
}

#rematch {
  position: absolute;
  margin-right: 50%;
  margin-top: 80%;
  width: 100%;
}
#reselect {
  position: absolute;
  margin-right: 50%;
  margin-top: 60%;
  width: 100%;
}

/* Player One Animations  */
#animateAttackOne {
  /* perfect */
  position: absolute;
  margin-top: 7%;
  margin-left: 6%;
  z-index: 9001;
}
#animateCounterOne {
  /* perfect */
  position: absolute;
  margin-top: 12%;
  margin-left: 12.5%;
  z-index: 9002;
}
#animateDefendOne {
  /* perfect */
  position: absolute;
  margin-top: 13%;
  height: 45%;
  margin-left: 10%;
  z-index: 9003;
}
#animateStrongOne {
  /* perfect */
  position: absolute;
  margin-top: 11%;
  margin-left: 5%;
  z-index: 9004;
}
#animateStrongCounterOne {
  /* perfect */
  position: absolute;
  margin-top: 8%;
  margin-left: 5%;
  z-index: 9005;
}

/* Player Two Animations  */
#animateAttackTwo {
  /* perfect */
  position: absolute;
  margin-top: 7%;
  margin-left: 59%;
  z-index: 9006;
}
#animateCounterTwo {
  /* perfect */
  position: absolute;
  margin-top: 12%;
  margin-left: 65%;
  z-index: 9007;
}
#animateDefendTwo {
  /* perfect */
  position: absolute;
  margin-top: 13%;
  height: 45%;
  margin-left: 63%;
  z-index: 9008;
}
#animateStrongTwo {
  position: absolute;
  margin-top: 11%;
  margin-left: 58%;
  z-index: 9009;
}
#animateStrongCounterTwo {
  /* perfect */
  position: absolute;
  margin-top: 8%;
  margin-left: 57%;
  z-index: 9010;
}
